@theme {
  --animate-snowflakes: snowflakes 15s linear infinite;
  --animate-logo: logo 20s linear 20s infinite;
  --animate-tracking-text: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  --animate-glare: glare 20s linear infinite;

  @keyframes glare {
    0% {
      background-position: right bottom;
    }
    10%,
    100% {
      background-position: left top;
    }
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes snowflakes {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    20% {
      transform: translateX(10px) translateY(20vh) rotate(60deg);
    }
    40% {
      transform: translateX(40px) translateY(40vh) rotate(-60deg);
    }
    60% {
      transform: translateX(10px) translateY(60vh) rotate(60deg);
    }
    80% {
      transform: translateX(40px) translateY(80vh) rotate(-60deg);
    }
    100% {
      transform: translateX(10px) translateY(100vh) rotate(60deg);
    }
  }

  @keyframes logo {
    0% {
      transform: rotate-x(0deg);
    }
    10% {
      transform: rotate(360deg);
    }
    90% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
